# folders

bin
obj
packages
.vs
.vscode
**/wwwroot/lib
**/Migrations

# files

*.user
*.suo
*.log
*.dll
*.pdb

# specific files

project.lock.json
WeatherVote/feel.txt
WeatherVote/looog.txt
WeatherVote/Properties/PublishProfiles/WeatherVote.pubxml
