@{
    ViewData["Title"] = "About us";
}
<div class="row" style="margin-top:auto">
    <div class="col-8 mx-auto weather">
        <a style="font-size:40px;" class="navbar-brand" asp-area="" asp-controller="Weather" asp-action="Index">
            <i class="fa fa-sun-o" aria-hidden="true"></i>
            <strong>Weather</strong>Vote
        </a>
        <p style="font-size:25px; font-weight:normal; ">Get weather information from multiple suppliers in one place. Vote up those who are most accurate and vote down those who did not mention the rain.</p>
    </div>
</div>

<div class="row" style="margin-bottom:3em; margin-top:auto">
    <div class="col-8 mx-auto weather">
        </a>
        <p style="font-size:25px; font-weight:normal; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>