
@{
    ViewData["Title"] = "Weathers";
}

    <body onload="getLocation()" id="locDiv">

        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about Weather fool.</p>
        </div>
        <p>
<<<<<<< HEAD
            @*@Model.Temperatur*@
=======
           
>>>>>>> 6b9c28961ff93d1a79a6a0d0abbd777d62cbbf01
        </p>
        <div>

        </div>
    </body>
