
@{
    ViewData["Title"] = "Weathers";
}

    <body onload="getLocation()" id="locDiv">

        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about Weather.</p>
        </div>
        <p>
           
        </p>
        <div>

        </div>
    </body>
