<<<<<<< HEAD
﻿@model WeatherVote.Models.Weather
@{
    ViewData["Title"] = "Weathers";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn abou</a>.</p>
</div>
<p>
    @Model.Temperatur
</p>
<div>

</div>
=======
﻿
>>>>>>> d9ff67b8ad6f6397be0abaff8e33db544d3881cd
